* {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img {
    height: auto;
    width: auto;
    max-width: 140px;
    max-height: 40px;
}

#main-page {
    width: 992px;
    margin: auto;
}

#main-page nav a {
    color: #292929;
    text-align: center;
    padding: 33px 32px 0;
    text-decoration: none;
}

#main-page nav a:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
}